*
{
    margin: 0;
    padding: 0;
}
body,input,button,table,tr,td,th
{
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
}
a
{
    text-decoration: none;
    color: #0000ff;
}
a:link,a:visited,a:hover,a:active
{
    color: #0000ff;
}
ul,ol
{
    padding-left: 40px;
}
body
{
    margin: 0 10px;
    padding-top: 71px;
}
.highlight
{
    color: red;
    font-weight: bold;
}
.head
{
    width: 860px;
    left: 50%;
    top: 0;
    margin-left: -446px;
    border: 1px solid #999999;
    border-top: none;
    border-radius: 0 0 10px 10px;
    background-color: #ccffcc;
    box-shadow: 0 0 5px #999999;
    padding: 10px 15px;
    position: fixed;
    _position: absolute;
    z-index: 9999;
}
.title
{
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}
.mirror
{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 15px;
    vertical-align: center;
}
.mirror select
{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.item
{
    width: 720px;
    margin: 0 auto;
    border: 1px solid #999999;
    border-radius: 6px;
    background-color: #eeeeee;
    box-shadow: 0 0 5px #999999;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.item.target
{
    background-color: #ffffcc;
}
.item.none
{
    background-color: #cccccc;
}
.item.none.target
{
    background-color: #ffff99;
}
.item-child
{
    width: 742px;
    margin: 0 auto;
}
.item-child .item
{
    width: auto;
    margin-left: 40px;
}
.name
{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
.name a
{
    display: inline-block;
    margin-right: 5px;
}
.description
{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #999999;
}
.form
{
    margin-top: 10px;
    margin-bottom: -10px;
    border-top: 1px solid #999999;
}
.form div
{
    margin: 10px 0;
    vertical-align: middle;
}
.form select
{
    width: 160px;
}
.submit
{
    display: inline-block;
    width: 85px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #999999;
    box-shadow: 0 0 5px #999999;
    text-align: center;
    background-color: #66ccff;
    color: #000000;
    font-weight: bold;
}
.submit:link,
.submit:visited,
.submit:hover,
.submit:active
{
    color: #000000;
}
.submit:hover
{
    background-color: #99eeff;
}
.submit:active
{
    background-color: #3399ff;
}
.submit.disabled,
.submit.disabled:link,
.submit.disabled:visited,
.submit.disabled:hover,
.submit.disabled:active
{
    box-shadow: none;
    background-color: #cccccc;
}
.view
{
    display: inline-block;
    margin-left: 10px;
}
.list
{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #999999;
}
.list div
{
    margin-top: 10px;
}
.back
{
    display: inline-block;
    width: 85px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #999999;
    box-shadow: 0 0 5px #999999;
    text-align: center;
    background-color: #66ccff;
    color: #000000;
    font-weight: bold;
}
.back:link,
.back:visited,
.back:hover,
.back:active
{
    color: #000000;
}
.back:hover
{
    background-color: #99eeff;
}
.back:active
{
    background-color: #3399ff;
}
.fix
{
    overflow: hidden;
    height: 0;
}
.download
{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    border-radius: 0 5px 0 5px;
    padding: 10px;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
    box-shadow: 0 0 5px #999999;
    text-align: center;
    background-color: #66ccff;
    color: #000000;
    font-weight: bold;
}
.download:link,
.download:visited,
.download:hover,
.download:active
{
    color: #000000;
}
.download:hover
{
    background-color: #99eeff;
}
.download:active
{
    background-color: #3399ff;
}
.download.disabled,
.download.disabled:link,
.download.disabled:visited,
.download.disabled:hover,
.download.disabled:active
{
    box-shadow: none;
    background-color: #cccccc;
}
.other
{
    display: block;
    position: absolute;
    right: 106px;
    top: 0;
    margin: 10px;
}
.collapse
{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}